dist: bionic
language: ruby
rvm:
  - 2.3.1
before_install:
  - gem uninstall -v '>= 2' -i $(rvm gemdir)@global -ax bundler || true
  - gem install bundler -v '1.6.0'
before_script: bundle exec rake db:migrate
