.center
  %h3 Add an article right away!
  - prefill = prefill || { }
  = form_tag article_index_path, method: :post do
    = render 'article/entry_form_basics', prefill: prefill
    = render 'article/visibility_chooser', viz: prefill["visibility"] || 0
    %input{ :type => "submit", :value => "Add article" }
