%div.text-center
  %h2 About Cutouts
  %h3 The internet is the newspaper, the link to the article is the cutout
  %h3 A collection of all the articles that you have read, liked and would want to read again later.
  %h3 Start adding articles!
  %h3
    = link_to("Sign up", new_user_registration_path)
  %h3
    = link_to("Login", new_user_session_path)
