%div.text-center
  %h3 Cutout parts of articles you love and store them forever
  %h3
    Cutouts is free and will remain so forever! The code is open source on
    %a{:href => "https://github.com/icyflame" } GitHub
  %p
    Email cutouts to friends and family. Share the permalink on social media.
    Tag cutouts and search them using search strings and tags!
  %h3 Start adding Cutouts now!
  %h3
    #{link_to("Sign up", new_user_registration_path, { :class => "btn btn-lg btn-primary" })} &nbsp;
    #{link_to("Login", new_user_session_path, { :class => "btn btn-lg btn-primary" })} &nbsp;
    #{link_to("Check out the feed!", feed_path, { :class => "btn btn-lg btn-primary" })}
  = image_tag "frontpage.png", { :width => "1000px" }
