%hmtl
  %head
    %meta{'http-equiv' => 'Content-Type', 'content' => "text/html; charset=utf8"}/

  %body
    %a{:href => fully_qualified_root_url}
      %h1 Cutouts
    = yield
    %hr/
    %p
      %a{:href => "#{fully_qualified_root_url}"} Cutouts
      is an online bookmarking application which allows you to cut out
      parts of online articles and store them forever. It is hosted on Heroku.
      It is completely free. The code is open source and can be found at
      %a{:href => "https://github.com/icyflame/cutouts"} GitHub
